<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital( input.value )" type="text" class="form-control" placeholder="Buscar hospital...">
            </div>
        </div>
    </div>
</div>

<h3 *ngIf="noencontrado" class="title"> No se encontraron registros con el termino de busqueda </h3>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>        
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i>
                         Crear hospital
                    </button>
                </div>

                <h3 class="card-title">Hospitales existentes ( <small> {{total}}</small> ) </h3>

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th >Foto</th>
                        <th >Nombre Hospital</th>
                        <th >Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let hospital of hospitales">
                        <th class="w70"> <img (click)="actualizarImagen( hospital )" [src]=" hospital.img | imagen: 'hospitales' " class="img50 img-circle pointer"></th>
                        <td> <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre hospital..."></td>
                        <td>
                            <button (click)="actualizarHospital( hospital )" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                            </button>
                            &nbsp;
                            <button (click)="eliminarHospital( hospital )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde( -5 )" class="btn btn-secondary">
                    <i class="fa fa-arrow-left"></i>
                </button>
                &nbsp;
                <button (click)="cambiarDesde( 5 )" class="btn btn-secondary">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
